@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Nunito&display=swap");

/* Background */
body {
  background-image: linear-gradient(315deg, #f8f9d2 0%, #f1d9fd 74%);
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Container */
.container {
  background: rgba(0, 60, 0, 0.1);
  border-radius: 6px;
  max-width: 90%;
  width: 600px;
  height: auto;
  transition: height 0.6 ease-out;
  display: flex;
  flex-direction: column;
}

/* Tabs */
.tab {
  border: none;
  background-color: none;
  text-align: center;
  float: none;
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  margin: 10px 0;
}

.tab a {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  color: #686868;
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
}
.one {
  text-align: end;
}
.three {
  text-align: start;
}

.tab a:hover {
  opacity: 0.8;
}

/* Tab animation */
.tab::before {
  content: "";
  height: 0.25rem;
  width: 2rem;
  margin-top: -5px;
  margin-left: 0;
  background: rgb(158, 147, 188);
  border: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 1.8rem;
  transform: translateX(-50%);
}

/* Active tab animation */
.tab.about::before {
  left: 29.5%;
}

.tab.values::before {
  left: 49%;
}

.tab.contact::before {
  left: 70%;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }
  /* Tab animation for small screens */
  .tab.about::before {
    left: 28%;
  }

  .tab.values::before {
    left: 50%;
  }

  .tab.contact::before {
    left: 73%;
  }
}

/* Tab content */
.tabcontent {
  display: none;
  padding: 20px 40px;
  border: none;
  color: #505050;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-align: justify;
}

/* First tab content */
.nametitle {
  font-weight: 900;
  font-size: 2.1em;
  font-family: "Dancing Script", cursive;
}

.lotus {
  position: absolute;
  width: 23%;
  margin-top: 36px;
  opacity: 0.1;
}

.ig {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.wp {
  width: 35px;
  height: 35px;
  padding: 18px;
}

.icon:hover {
  opacity: 0.8;
}

/* Second tab content */
.val-container {
  border: 2px solid rgba(248, 249, 210, 0.4);
  background-color: rgba(248, 249, 210, 0.3);
  border-radius: 6px;
  padding: 20px;
}

/* Third tab content */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #505050;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  outline: none;
}

input[type="submit"] {
  background-color: rgb(201, 147, 188);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.form-container {
  padding: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - less than 600px */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
